{
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-with": "error",
    "eqeqeq": "error",
    "curly": "error",
    "no-var": "error",
    "semi": "error",
    "indent": "error",
    "no-multi-spaces": "error",
    "space-in-parens": "error",
    "no-multiple-empty-lines": "error",
    "prefer-const": "error",
    "no-use-before-define": "error"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8
  }
}
